@import "setup/variables";
.art {
  &__background {
    padding: 4%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    box-sizing: border-box;
  }

  &__heading {
    font-size: 2.5em;
    max-width: 45%;
  }

  &__title {
    color: $text-color--light;
    font-family: $ff-header;
  }

  &__container {
    padding: 4% 10%;
  }

  &__colors {
    margin-bottom: 5%;
  }

  &__name {
    font-weight: $bold;
    font-style: italic;
    font-family: $ff-header;
    text-align: center;
    margin-bottom: 4%;
  }

  &__description {
    text-align: justify;
    font-weight: $light;
    margin-bottom: 5%;
  }
}
