@import "setup/variables";
.main {
  padding: 3% 4%;
  text-align: center;
  box-sizing: border-box;

  &__heading {
    margin-bottom: 40px;
    font-size: 1.5em;
  }

  &__title {
    font-family: $ff-header;
  }

  &__options {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__filter {
    flex: 0 1 25%;
  }

  &__search {
    flex: 0 1 70%;
  }
}
