@import "setup/variables";

.card {
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;

  &__image {
    width: inherit;
    height: inherit;
  }

  &:hover > &__hover {
    display: block;
  }

  &__hover {
    display: none;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    padding: 0.3em 0.2em;
    z-index: 2;
    background: rgba(#000000, 0.5);
    transition: 0.3s ease;
    color: $text-color--light;
    font-size: 0.8em;
    font-weight: $light;
    box-sizing: border-box;
  }
}
