@import "setup/variables";

.page {
  display: flex;
  min-height: 100vh;
  background: #272727;

  &__container {
    margin: auto;
    text-align: center;
    max-width: 50%;
  }

  &__title {
    font-weight: $bold;
    font-family: $ff-header;
    font-size: 2.5em;
    color: $text-color--light;
    margin-bottom: 5%;
  }

  &__button {
    display: inline-block;
  }
}
