<div class="modal">
  <h2 class="modal__title" mat-dialog-title>{{art.title}}</h2>
  <mat-dialog-content class="modal__content">
    <div class="modal__image-container">
      <img [src]="art.webImage.url" [alt]="art.title">
    </div>
    <div class="modal__description">
      {{description}}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="modal__actions-wrapper">
    <div class="modal__fav">
      <app-favorite-button [art]="art"></app-favorite-button>
    </div>
    <div class="modal__actions">
      <button type="button" [routerLink]="'art/' + art.objectNumber" [mat-dialog-close]="true" mat-flat-button
              color="primary">View details
      </button>
      <button type="button" [mat-dialog-close]="true" mat-flat-button color="warn">Close</button>
    </div>
  </mat-dialog-actions>
</div>
